mixin video(video)
  a(href=`/videos/${video.id}`).video-mixin
    .video-mixin__thumb
      if isHeroku
        img(src=`${video.thumbUrl}`, crossorigin)
      else 
        img(src=`/${video.thumbUrl}`)
    div.video-mixin__data
      span.video-mixin__title=video.title
      div.video-mixin__meta
        span #{video.owner.name} • 
        span #{video.meta.views} 회

//-(style=`background-image:url(${video.thumbUrl});background-size:cover;background-position:center;`)